@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

* {
  transition: background-color .2s ease, color .2s ease, border-color .2s ease;
}
.prose { color: inherit; }
.prose p { margin: 0.5rem 0; }
.dark .prose { color: inherit; }
